---
import Land from "../layouts/Land.astro";
import Card from "../components/Card.astro";
---

<Land>
  <span slot="title">ETHF <span class="text-gradient">(estudiantes)</span></span
  >
  <span slot="instructions"
    >En esta página aparecen los links y accesos rápidos a todos los recursos
    necesarios</span
  >
  <Card
    href="https://www.henryford.edu.ar/"
    title="Página web"
    body="Información y noticias"
    picture={"https://cms.henryford.edu.ar/uploads/Web_page_0f6b618cda.JPG?updated_at=2023-03-17T16:21:40.087Z"}
    targetBlank
  />
  <Card
    href="https://www.henryford.edu.ar/moodle"
    title="Aula virtual"
    body="Campus en moodle"
    picture={"https://cms.henryford.edu.ar/uploads/Web_moodle_1102d20cec.JPG?updated_at=2023-03-17T16:42:57.658Z"}
    targetBlank
  />
  <Card
    href="https://teams.microsoft.com/"
    title="Microsoft Teams"
    body="Chat, tareas, grupos y materias."
    picture={"https://cms.henryford.edu.ar/uploads/7_handige_Microsoft_Teams_8a97987a6f.webp?updated_at=2023-03-17T17:15:28.935Z"}
    targetBlank
  />
  <Card
    href="https://www.office.com/"
    title="Office Online"
    body="Word, Excel y PowerPoint en la web"
    picture={"https://cms.henryford.edu.ar/uploads/1366_2000_f3c655f20f.jpg?updated_at=2023-03-17T17:02:26.617Z"}
    targetBlank
  />
  <Card
    href="https://ethf-my.sharepoint.com/"
    title="Mi OneDrive"
    body="Almacenamiento de archivos en la nube"
    picture={"https://cms.henryford.edu.ar/uploads/Microsoft_One_Drive_Header_ae7d9d2a19.png?updated_at=2023-03-17T16:48:33.282Z"}
    targetBlank
  />
  <Card
    href="https://docs.google.com/forms/d/e/1FAIpQLSfjc5X8vO1dccGA1Z35Z7tIXLMdyjJq4VujIw-lWo7AcBp4pg/viewform"
    title="Inscripción Rock & Ford"
    body="Inscribite para formar parte de la banda"
    picture={"https://cms.henryford.edu.ar/uploads/rock_and_ford_ea9e52829c.png?updated_at=2023-03-17T17:09:00.932Z"}
    targetBlank
  />
  <Card
    href="https://www.henryford.edu.ar/public/comedor/index.html?codigo=comedor481A"
    title="Comedor"
    body="Menú semanal del comedor de Ford"
    picture={"https://cms.henryford.edu.ar/uploads/eurest_f1a4923059.jpg?updated_at=2023-03-17T17:04:51.979Z"}
    targetBlank
  />
</Land>
